.md-footer {
  display: none !important;
}

.md-content {
  max-width: 100%;
}

.md-nav__title {
  display: none !important;
}

.md-sidebar--secondary {
  display: none !important;
}

.md-header,
.md-tabs {
  background-color: rgba(240, 240, 240, 1);
  color: black;
}

.md-header[data-md-state="shadow"] {
  box-shadow: none;
}

.md-typeset {
  font-size: 0.7rem;
}

.md-typeset a {
  color: cornflowerblue;
}

.md-nav__title {
  font-size: 1.5em;
}

.md-typeset mark {
  color: #c2185c;
  background-color: initial;
}

.md-typeset h1 {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0 0 0.5em;
  color: black;
  /*border-bottom: 1px solid #ccc;*/
}

.md-typeset h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0 0 0.3em;
  color: black;
  /*border-bottom: 1px solid #ccc;*/
}

.md-typeset h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 0.3em;
  color: black;
  /*border-bottom: 1px solid #ccc;*/
}

.md-typeset ol li :-webkit-any(ul, ol),
.md-typeset ul li :-webkit-any(ul, ol) {
  margin-bottom: 0.3em;
  margin-top: 0em;
}
.md-typeset ul li {
  margin-bottom: 0.15em;
}
.md-typeset ul li ul {
  margin: 0;
}
