site_name: AtCoder Heuristic Contest Memo

copyright: "Copyright &copy; jetbead 2021"

theme:
  name: material
  #language: "ja"
  features:
    - content.code.copy
    # - toc.follow
    # - toc.integrate
    - navigation.tabs
    - navigation.tabs.sticky
  palette:
    primary: grey
  font:
    text: Noto Sans Japanese

plugins:
  - blog:
      blog_toc: true
      post_readtime: false
  - offline

extra_css:
  - "css/custom.css"

extra_javascript:
  - "js/extra.js"
  - "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"

use_directory_urls: false

markdown_extensions:
  - admonition
  - footnotes
  - toc:
      permalink: true
      toc_depth: 2-2
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.snippets
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - mdx_truly_sane_lists:
      nested_indent: 2
