.md-footer {
  display: none !important;
}

.md-content {
  max-width: 100%;
}

.md-sidebar--secondary {
  display: none !important;
}

.md-header,
.md-tabs {
  background-color: rgba(240, 240, 240, 1);
  color: black;
}

.md-header[data-md-state="shadow"] {
  box-shadow: none;
}

.md-typeset {
  font-size: 0.7rem;
}

.md-typeset a {
  color: cornflowerblue;
}

.md-nav__title {
  font-size: 1.5em;
}

.md-typeset mark {
  color: #c2185c;
  background-color: initial;
}

.md-typeset h1 {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0 0 0.5em;
  color: black;
  /*border-bottom: 1px solid #ccc;*/
}

.md-typeset h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0 0 0.3em;
  color: black;
  /*border-bottom: 1px solid #ccc;*/
}

.md-typeset h3 {
  font-size: 1.0em;
  font-weight: bold;
  margin: 0 0 0.3em;
  color: black;
  /*border-bottom: 1px solid #ccc;*/
}

.md-typeset ul li {
  margin-bottom: 0.15em;
}
.md-typeset ul li ul {
  margin: 0;
}



/* for card */
.box {
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.box div {
  box-sizing: border-box;
  margin: 2px;
}

.l-wrapper {
  margin: 1rem auto;
  width: 30%;
}
.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.card-content {
  padding: 8px 20px 20px;
}
.card-title {
  font-size: 1.6em;
  color: #333;
  font-weight: 700;
}
.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0.2em;
}
.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.card-link a {
  text-decoration: none;
  color: #4f96f6;
  margin: 0 10px;
}
.card-link a:hover {
  color: #6bb6ff;
}
.card-content p {
  margin-bottom:0;
}
